body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.react-tabs__tab--selected>div>.timeline__tab-with-content, .react-tabs__tab--selected>div>.timeline__today-tab {
  position: static;
  height: 2px;
  left: 32px;
  top: 99px;
  background: #222;
  /* margin-top: 8px; */
  width: 64px;
  transition: width 0.5s;
}

.timeline__container {
  max-width: 1440px;
  width: 100%;
  margin: auto
}

.timeline__tabs {
  display: grid;
  grid-template-columns: 136px 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  /* background: red; */
  padding-left: 40px;
}

.timeline__tab-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* background: lightblue; */
  margin: 0;
  padding: 0;
}

.timeline__tab-with-content {
  position: static;
  width: 32px;
  height: 0.5px;
  left: 32px;
  top: 99px;
  background: #222;
  /* margin-top: 8px; */
}

.timeline__today-tab {
  position: static;
  width: 64px;
  height: 1px;
  left: 32px;
  top: 99px;
  background: #222;
}

.timeline__date {
  width: 208px;
  height: 48px;
  font-size: 48px;
  /* background: purple; */
  margin-right: 32px;
}

.timeline__description {
  position: 'static';
  width: ' 328px';
  height: '192px';
  left: '360px';
  bottom: '0px';
  font-size: '24px';
  line-height: ' 100%';
  display: 'flex';
  align-items: 'flex-start';
  letter-spacing: '-0.01em';
}

.tiHouvri {
  width: 64px !important;
  transition: width 0.15s;
}